<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnu.ccdm.mapper.SignMapper" >
  <resultMap id="BaseResultMap" type="com.hnu.ccdm.entity.Sign" >
    <id column="sign_id" property="signId" jdbcType="VARCHAR" />
    <result column="sign_account" property="signAccount" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>55
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sign_id, sign_account, sign_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hnu.ccdm.entity.SignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sign
    where sign_id = #{signId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sign
    where sign_id = #{signId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hnu.ccdm.entity.SignExample" >
    delete from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hnu.ccdm.entity.Sign" >
    insert into sign (sign_id, sign_account, sign_date
      )
    values (#{signId,jdbcType=VARCHAR}, #{signAccount,jdbcType=VARCHAR}, #{signDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hnu.ccdm.entity.Sign" >
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signId != null" >
        sign_id,
      </if>
      <if test="signAccount != null" >
        sign_account,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signId != null" >
        #{signId,jdbcType=VARCHAR},
      </if>
      <if test="signAccount != null" >
        #{signAccount,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hnu.ccdm.entity.SignExample" resultType="java.lang.Integer" >
    select count(*) from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sign
    <set >
      <if test="record.signId != null" >
        sign_id = #{record.signId,jdbcType=VARCHAR},
      </if>
      <if test="record.signAccount != null" >
        sign_account = #{record.signAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.signDate != null" >
        sign_date = #{record.signDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sign
    set sign_id = #{record.signId,jdbcType=VARCHAR},
      sign_account = #{record.signAccount,jdbcType=VARCHAR},
      sign_date = #{record.signDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnu.ccdm.entity.Sign" >
    update sign
    <set >
      <if test="signAccount != null" >
        sign_account = #{signAccount,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=DATE},
      </if>
    </set>
    where sign_id = #{signId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnu.ccdm.entity.Sign" >
    update sign
    set sign_account = #{signAccount,jdbcType=VARCHAR},
      sign_date = #{signDate,jdbcType=DATE}
    where sign_id = #{signId,jdbcType=VARCHAR}
  </update>
</mapper>